* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "fish question" "fish reponse";
  height: 100vh;
}

#fish {
  grid-area: fish;
  justify-self: center;
  align-self: center;
}

#question {
  grid-area: question;
  justify-self: center;
  align-self: center;
}

#reponse {
  grid-area: reponse;
  justify-self: center;
  align-self: center;
}
